certifi
charset-normalizer
click
colorama
confluent-kafka
delta-spark==2.2.0
dill
dynaconf
exceptiongroup
faker
fastavro
idna
importlib-metadata
iniconfig
loguru
numpy
packaging
pandarallel
pandas
pluggy
psutil
py4j
pyarrow
pyspark==3.3.0
pytest
python-dateutil
pytz
requests
six
tomli
tqdm
types-pytz
typing-extensions
ua-parser
urllib3
win32-setctime
zipp
