apache-airflow-providers-apache-spark==4.1.0
apache-airflow-providers-celery==3.2.0
apache-airflow-providers-common-sql[openlineage]==1.5.1
apache-airflow-providers-postgres==5.3.1
apache-airflow-providers-mongo==3.0.0
certifi
charset-normalizer
click
colorama
confluent-kafka
delta-spark==2.2.0
dill
dynaconf
exceptiongroup
faker
fastavro
idna
importlib-metadata
iniconfig
loguru
numpy
packaging
pandarallel
pandas
pluggy
psutil
py4j
pyarrow
pyspark==3.3.0
pytest
python-dateutil
pytz
requests
six
tomli
tqdm
types-pytz
typing-extensions
ua-parser
urllib3
win32-setctime
zipp